@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Jost";
    background-color: #fff;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-[1100px];
  }
  .section-cta {
    background-image: url(/assets/Cta-bg-img.png);
    height: full;
    width: full;
    background-position: center;
    background-repeat: no-repeat;
  }
  .section-web-design {
    background-image: url(/assets/bg-image.png);
    height: full;
    width: full;
    background-position: center;
    background-repeat: no-repeat;
  }
  .locations-card {
    background-color: #fdf3f0;
    background-image: url(/assets/shared/desktop/bg-pattern-two-circles.svg);
    background-repeat: no-repeat;
  }
  .locations-card-pattern-right {
    background-position: bottom right;
  }
  .locations-card-pattern-left {
    background-position: bottom left;
  }
}
@theme {
  /* Primary colors */
  --color-peach: rgb(231, 129, 107);
  --color-black: rgb(29, 28, 30);
  --color-white: rgb(255, 255, 255);

  /* Secondary colors */
  --color-light-peach: rgb(255, 173, 155);
  --color-dark-gray: rgb(51, 49, 54);
  --color-light-gray: rgb(241, 243, 245);

  /* Gradient */
}
